<div class="panel-body">   
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="body">
					<p class="lead"></p>
					<p>This is Bebas Tawakkal Backend CMS application home page. To do changes or content editing, please select one of menu on the left panel. Please read our User Guide below if you still confused about using this application.</p>
					<p class="align-center"><a target="_blank" th:href="@{/user-guide/user-guide.pdf}"><i class="fa fa-download"></i><span> User Guide</span></a></p>
				</div>
			</div>
		</div>
	</div>
</div>