<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="cms-header-top">
      <meta charset="utf-8"/>
	  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
	  <meta name="description" content=""/>
	  <meta name="author" content=""/>
	  <link rel="shortcut icon" th:href="@{/cms/images/favicon.ico}" type="image/ico"/>
	  <title>Bebas Tawakal CMS Panel</title>
	  <link  th:href="@{/cms/css/style.default.css}" rel="stylesheet"/>
	  <link th:href="@{/cms/css/jquery.datatables.css}" rel="stylesheet"/>
	  <!--<link th:href="@{/cms/css/jquery.fancybox.css}" rel="stylesheet"/>-->
	  <link th:href="@{/cms/css/bootstrap-fileupload.min.css}" rel="stylesheet"/>
	  <!--<link th:href="@{/cms/css/bootstrap-timepicker.min.css}" rel="stylesheet"/>-->
	  <!--<link th:href="@{/cms/css/jquery.tagsinput.css}" rel="stylesheet"/>-->
	  <!--<link th:href="@{/cms/css/colorpicker.css}" rel="stylesheet"/>-->
	  <!--<link th:href="@{/cms/css/dropzone.css}" rel="stylesheet"/>-->
	  <link th:href="@{/cms/css/jquery.mCustomScrollbar.css}" rel="stylesheet"/>
	  <link th:href="@{/cms/css/bootstrap-wysihtml5.css}" rel="stylesheet"/>
	  <link th:href="@{/cms/css/custom.min.css}" rel="stylesheet"/>
</head>
<body></body>
</html>